
name: My-self-host-pipeline

on:
  # push:
  #  branches:
  #    - master
  workflow_dispatch:

jobs:

  build:
    runs-on: self-hosted
    
    steps:
      - name: First identity my-VM
        run: |
          pwd
          ls -la
          uname -a
          echo "test" > some_file.txt
          ls -la
      - name: delete all files
        run: |
          sleep 30
          rm -r *

  docker_test:
    runs-on: self-hosted
    if: ${{ false }}

    steps:
      - name: Git Clone
        uses: actions/checkout@v2
      - name: Docker compose up started
        run: |
          pwd
          ls -la
          whoami && id
          docker-compose -f ./projarka/docker-compose.yml up -d
      - name: Some tests for containers
        run: |
          sleep 5
          #docker exec projarka-db mysql -u root -prootdb -e  "select * from projarka.first"
          #docker exec projarka-db ls -la
          docker ps -a
          curl localhost:8888
      - name: Stops containers and delete all files
        run: |
          docker-compose -f ./projarka/docker-compose.yml down
          rm -r *
      
